.headerContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0px 70px;
  height: 120px;
}

.accountButton {
  display: flex;
  align-items: center;
  margin-left: 24px !important;
  min-height: 40px;
}

.accountIcon {
  width: 30px;
  height: 30px;
  background-size: 100%;
  margin-right: 12px;
}

.metamask {
  background-image: url('/connectors/icn-metamask.svg');
}
.ledger {
  background-image: url('/connectors/icn-ledger.svg');
}
.coinbase {
  background-image: url('/connectors/coinbaseWalletIcon.svg');
}
.torus {
  background-image: url('/connectors/torus.jpg');
}
.trust {
  background-image: url('/connectors/trustWallet.png');
}

.themeSelectContainer {

}

.switchIcon {
  font-size: 1.5rem !important;
  margin-top: 0.1rem;
}

.backButton {
  flex: 1;
}


@media screen and (max-width: 1600px) {
  .headerContainer {
    padding: 0px 50px;
  }
}

@media screen and (max-width: 1000px) {
  .headerContainer {
    padding: 0px 24px;
  }
}
