.projectContainer {
  width: 100;
  padding: 0 36px;
}

.projectCardContainer {
  padding: 0 36px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  grid-gap: 48px;
  box-sizing: border-box;
}
