.overviewContainer {
  padding: 32px 48px;
  margin: 36px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  border-radius: 10px;
  margin-top: 0px;
}

.separator {
  border-right: 1px solid rgba(128, 128, 128, 0.25);
  height: 100px;
  margin-right: 48px;
  margin-left: 48px;
}

.overviewCard {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
}

@media screen and (max-width: 1600px) {
  .overviewContainer {
    margin: 24px 24px;
    padding: 24px 24px;
  }
  .separator {
    margin-left: 24px;
    margin-right: 24px;
  }
}

@media screen and (max-width: 1000px) {
  .overviewContainer {
    margin: 12px 12px;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .separator {
    border-bottom: 1px solid rgba(128, 128, 128, 0.25);
    width: calc(100%);
    margin: 12px 0px 12px 0px;
    height: 0px;
  }
}
