.projectCardContainer {
  width: 100%;
  border-radius: 10px;
  padding: 24px;
}

.textField {
  padding: 12px 0px
}

.inputTitleContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.inputTitle {
  padding-bottom: 6px;
  margin-left: 12px;
}

.balances {
  display: flex;
  justify-content: flex-end;
  padding-right: 12px;
  padding-bottom: 6px;
}

.value {
  cursor: pointer;
  display: flex;
}

.actionButton {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 24px -12px;
}

.sectionHeader {
  padding-bottom: 24px;
}

.button {
  margin: 0px 12px !important;
}

.calculationResults {
  padding-top: 24px;
  display: flex;
  flex-direction: column;
}

.calculationResult {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bold {
  font-weight: bold;
}

@media screen and (max-width: 1440px) {

}

@media screen and (max-width: 1000px) {

}

@media screen and (max-width: 600px) {
  .projectCardContainer {
    min-height: 0;
  }
}
